@charset "UTF-8";
/* CSS Document */

/*------------------------------------------------
initialize
------------------------------------------------*/

*{
margin:0;
padding:0;
}

*:first-child+html img {
border:0px;
margin:0px;
padding:0px;
vertical-align: top;
}

img{
border:0;
margin:0;
padding:0;
}

*:first-child+html img {vertical-align: bottom;}

*html img {vertical-align: bottom;}

*:first-child+html body{
padding-left:1px;
}

*html body{
padding-left: 1px;
}
*+html body{
padding-left: 1px;
}

body{
margin-left:0px;
margin-top:0px;
margin-right:0px;
margin-bottom:0px;
font-family: "メイリオ", Meiryo, "Hiragino Kaku Gothic Pro";
font-size:75%;
line-height:1.5em;
color:#666666;
}

input, textarea {
font-family: "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", "ＭＳ Ｐゴシック", "Lucida Grande", "Lucida Sans Unicode", Arial, Verdana, sans-serif;
}

p{
_font-size:12px;
}



/*------------------
link
-------------------*/
	
a {
color:#699AFF;
text-decoration:none;
margin:0;
padding:0;
outline:none;
}

a:visited{
color:#699AFF;
text-decoration:none;
margin:0;
padding:0;
}

a:hover{
color:#699AFF;
text-decoration:underline;
margin:0;
padding:0;
}



/*------------------
clearfix
-------------------*/
.clearfix:after {
	content:"";
	height:0;
	display:block;
	clear:both;
	}
/*---
For IE
-----*/
.clearfix {
	display:inline-block;
	}
/* for Mac IE \*/
.clearfix { display: block; }
/* */



ul{
list-style-type:none;
}



/*------------------
float
-------------------*/
.left{
float:left;
}
.right{
float:right;
}


/*------------------------------------------------
content
------------------------------------------------*/
#header{
	padding: 10px 20px 10px 20px;
	background: #4660a2;
}

h1{
	margin: 0 auto;
	color: #FFF;
	font-weight: bold;
	line-height: 24px;
	font-size: 16px;
}

#header_copy{
	margin: 0 0 0 20px;
	font-size: 12px;
	font-weight: normal;
}

#kumonos_link{
	color: #fff;
}

#wrapper{
	margin: 0 auto;
	padding: 20px;
	border-left: solid 1px #ccc;
	border-right: solid 1px #ccc;
}

h2{
	margin: 0px 0 10px 0;
	padding: 5px;
	background: #f2f2f2;
	border-top: solid 1px #e2e2e2;
	font-size: 12px;
}

#description{
	margin: 0 0 20px 0;
}

#description_ul{
	margin: 20px 0 20px 0;
}

#howto{
	margin: 0 0 20px 0;
}

#add_bookmark{
	margin: 10px 0 0 0;
}

#social_buttons{
	margin: 10px 0 0 0;
}

#use_button{
	cursor: pointer;
	background: #4660a2;
	color: #fff;
	font-weight: bold;
	font-size: 20px;
	padding: 15px 0;
	margin: 15px auto 0 auto;
	text-align: center;
}

#search_main{
	display: none;
}

#search_boxes{
	display: none;
}

.query_th, .query_td{
	text-align: left;
	padding: 5px;
	border-bottom: solid 1px #e2e2e2;
}

.friends_li{
	margin: 0 0 10px 0;
}

.friend_img{
	margin: 0 10px 0 0;
	float: left;
}

.friend_info{
	float: left;
}
	
.showphoto {
	color:#699AFF;
	text-decoration:none;
	margin:0;
	padding:0;
	outline:none;
}

.showphoto:hover{
	color:#699AFF;
	text-decoration:underline;
	margin:0;
	padding:0;
	cursor: pointer;
}

/*------------------------------------------------
content (wide size)
------------------------------------------------*/
@media screen and (min-width : 920px) {
	h1{
		width: 920px;
	}

	#wrapper{
		width: 920px;
	}
}